*{
	margin:0px;
	padding:0px;

}
a:link
 	{
 	 color:black;
 	 background-color:transparent;
 	 text-decoration: none;
 	 cursor:pointer;
	}
a:visited 
	{
	 color:black;
 	 background-color:transparent;
 	 text-decoration: none;
 	 cursor:pointer;
	}
a:hover   
	{
	 color:black;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: underline;
	}
a:active  
	{
	 color:black;
 	 background-color:transparent;
 	 text-decoration: none;
 	 cursor:pointer;
	}

body
{
	background-image: url(background.jpg);
    background-position: center; 
    background-size: cover; 
    background-repeat: no-repeat;

  font-family: Helvetica;
}
#complete_wrapper
{
	width:100%;
	display: -webkit-box;
	-webkit-box-orient:vertical;
	-webkit-box-flex: 0;
}
#nav_bar
{
	background-color: white;
	border-bottom: 1px solid #E6E6E6 ;
	padding-top:20px;
	padding-bottom: 20px;
	padding-left: 16%;
	padding-right: 16%;
	min-width:900px;  

}
.links
{
 font-family: Helvetica;

float: right;
padding:15px; 

}
.links ul
{
	text-align:center;
	font-size: 14px;
	
	list-style: none;
	
}
.links li{
	display:inline;
	margin-left:20px;

}
signin
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Helvetica;

  color: #333;
  border: 1px solid #666;
  font-weight: 700;
  letter-spacing: 1px;
}
signup
{
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #400090;
  font-family: Helvetica;

  color: white;
  border: 1px solid #666;
  font-weight: 700;
  letter-spacing: 1px;
}
#centre_portion
{
padding-left:100px;
    text-align: center;
    color:white;
}
#purple
{
	background-image: url(purple.png);
	width:700px;

	margin-top:10%;
	margin-bottom:15%;
	margin-right:auto;
	margin-left: auto;
    padding: 60px;
  	color:white;

}
h1{
  font-size: 48px;
  font-weight: 700;
  text-shadow: 2px 2px #666;
}
h2{
	 margin-bottom: 20px;
	 font-size: 48px;
     font-weight: 700;
     text-shadow: 2px 2px #666;
}
#purple p{
  text-align: center;
  color: #FFF;
  text-shadow: 1px 1px #7c6caa;
  font-size: 18px;
  margin-bottom: 30px;
}
#go{
	background-color: #400090;
	color: white;
	font-family: Arial;
	height:40px;
	width:90px;
	font-size: 18px;
	padding-top:17px;

	
	


}
#username{
  font-family: Arial;
  font-size: 20px;
  padding-left: 20px;
 
 }
#search_box{
background-image: url("input.png");

height:64px;
 background-repeat: no-repeat;
 display: -webkit-box;
	-webkit-box-orient:horizontal;
	-webkit-box-flex: 0;
margin-left: 60px;

}
 signin a:hover   
	{
	 color:black;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
	signup a:hover  
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
signup a:active 
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
signup a:visited
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
signup a:link
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
#go a:hover  
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
#go a:active 
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
#go a:visited
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}
#go a:link
	{
	 color:white;
 	 background-color:transparent;
 	 cursor:pointer;
 	 text-decoration: none;
	}

